.HeaderTheme_Desktop nav{
    background-color: rgb(31, 55, 79) ;
}
.HeaderTheme_Phone {
    /* background-color: rgb(0, 66, 132) ; */
    width: 28px;
    height: 28px;
    color: aliceblue;
    display: none;
    background-color: black;
}
.nav__overLay{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0,0.3);
    max-width: 100%;
    background: #ffff;
}
.nav__mobie{
    position: fixed;
    top: 0;
 
    left: 0;
    bottom: 0;
   width: 320px;
}
.nav__mobie_list{
 margin-top: 24px;
 
}
.nav__mobie_link{
 text-decoration: none;
 color: #333;
 display: block;
 padding: 9px;
 font-size: 1.4rem;
}
@media(max-width:1023px) {
    .HeaderTheme_Phone {

      
        display: block;
    }
    .HeaderTheme_Desktop nav{
   
        display: none;
    }
}